

* {
    box-sizing: border-box;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* Heading */

#Name {
    color: #4aaaa5;
    background-color: #ffffff;
    padding: 5px;
    border-bottom: #cccccc;
    border-bottom-style: groove;
    border-bottom-width: 6px;
    border-style: double;
    text-align: right;
    width: 100%;
    float: left;
}

h1 {
    margin-right: 18%;
    text-align: right;
}

#h12 {
    text-align: right;
    margin-right: 5%;
    margin-left: 5%;
}


a {
    color:#4aaaa5;
}

/* Navigation Bar */


.navigation {
    float: right;
    width: 100%;
    background-color: #4aaaa5;
    padding: 20px;
    margin: 1px;
    font-size: 20px;
    text-align: right;
}
.button {
    float: right;
    width: 200px;
    border-style: ridge;
    margin: 3px;
    background-color: #acdad7;
    color: rgb(54, 50, 50);
    border-color: rgb(54, 50, 50);
}
#buttcontact {
    margin-right: 100px;
}
.button:hover {
    background-color:#4aaaa5;
    font-size: 20px;
    color: grey;
}







/*ABOUT SECTION*/







#paragraph {
    float: left;
    background-color:#ffffff;
    overflow: auto;
    font-size: 14px;
    padding: 10px;
    margin-left: 17.5%;
    margin-right: 17.5%;
    border-style: inset;
    border-width: 2px;
    width: 960px;
    border-color: #dddddd;
}

#Image {
    word-wrap: normal;
    float: left;
    height: 400px;
    overflow: auto;
    padding: 20px;
}

p {
    font-weight: 300;
    line-height: 50px;
    font-size: 18px;
    color: #777777;
}

#feet {
    background-color: #666666;
    color:#4aaaa5;
}







/*CONTACT SECTION*/







/* This is for the contact box */


* {box-sizing: border-box;
}

#contactbody {font-family: Arial, Helvetica, sans-serif;}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: #777777;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:#1d7571;
    color: #777777;
}

.container {
    border-radius: 5px;
    border-color: #4aaaa5;
    border-style: inset;
    background-color: #ffffff;
    padding: 20px;
}

h3 {
    align: center;
    color: #4aaaa5;
}

#Contactme {
    float: left;
    text-align: left;
    width: 960px;
    margin-left: 17.5%;
    margin-right: 17.5%;
   
}

/*divider between contact form and Alyssa's info*/

#break {
    float: left;
    width: 960px;
    margin-left: 17.5%;
    margin-right: 17.5%;
    overflow: auto;
    border-style: solid;
    border-color: #4aaaa5;
    border-width: 5px;
    padding: 20px;
}

#divider {
    width: 900px;
}

/* This is for Alyssa's contact information */

#MyInfo {
    float: left;
    width: 960px;
    margin-right: 17.5%;
    margin-left: 17.5%;
    font-size: 30px;   
    border-color:#dddddd;
    border-style: solid;
    border-right-width: 180px;
    border-left-width: 180px;
    border-bottom-width: 40px;
    border-top-width: 40px;
    border-bottom-color: #4aaaa5;
    border-top-color: #4aaaa5;
}

#contactphoto {
    width: 50%;
    padding: 3px;
    border-color: #dddddd;
}







/*PORTFOLIO SECTION*/







#none {
    float: left;
    background-color:#ffffff;
    overflow: auto;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    border-style: inset;
    border-width: 2px;
    width: 100%;
    border-color: #dddddd;
}

#para {
    float: left;
    width: 960px;
    margin-left: 17.5%;
    margin-right: 17.5%;
    margin-top: 20px;
    border-style: ridge;
    border-width: 5px;
    border-color: #dddddd;
    background-color: #ffffff;
}


.portpic {
    float: left;
    height: 300px;
    width: 300px;
    overflow: auto;
    padding: 20px;
    border-style: solid;
    border-top-right-radius: 23%;
}

.wording {
    float: left;
    width: 20%;
    text-align: center;
    height: 20px;
    padding-bottom: 4px;
    padding-left: 2px;
    line-height: 80%;
    font-size: 14px;
    border-left-style: ridge;
    border-color: #4aaaa5;
}

.item {
    float: left;
    margin-left: 16%;
    width: 20%;
    height: 350px;
    padding-top: 20px;
    text-align: center;
    line-height: 90%;
}

.item:hover {
    opacity: 0.3;
    background-color: #4aaaa5;
}







/* THIS TAKES EFFECT WHEN THE BROWSER'S WIDTH IS < 768PX */








@media screen and (max-width: 768px) {


    .Name {
        color: #4aaaa5;
        background-color: #ffffff;
        padding: 5px;
        border-bottom: #cccccc;
        border-bottom-style: groove;
        border-bottom-width: 6px;
        border-style: double;
        text-align: right;
        width: 100%;
        float: right;
    }

    h1 {
        font-size: 20px;
        text-align: right;
        margin-right: 5px;
    }

    .navigation {
        width: 100%;
        background-color: #4aaaa5;
        padding: 2px;
        margin-right: 1px;
        margin-left: 1px;
        text-align: right;
    }
    .button {
        float: right;
        width: 20%;
        font-size: 12px;
        border-style: ridge;
        margin: 1px;
    }
    #buttcontact {
        margin-right: 5px;
    }
    .button:hover {
        background-color:#4aaaa5;
        opacity: 0.3;
        color: grey;
    }

    #paragraph {
        float: right;
        width: 100%;
        font-size: 12px;
        margin: 5px;
        padding: 5px;
    }

    #Image {
        width: 250px;
        height: 300px;
    }

    #feet {
        float: right;
        width: 100%;
    }

    #para {
        width: 100%;
        float: left;
        overflow: scroll;
    }

    .item {
        width: 15%;
    }
    .portpic {
        width: 15%;
    }
    #feet {
        width: 100%;
    }
}
